
<h2><%= t('.test_questions') %></h2>
<p><strong>Test:</strong> <%= @test.title %></p>
<p><strong>Questions:</strong>  <%= @test.questions.count %></p>
<%= link_to 'New question', new_test_question_path %>
