<tr>
  <td><%= link_to gist.question.body.truncate(25), admin_question_path(gist.question) %></td>
  <td><%= link_to gist.url, gist.url %></td>
  <td><%= gist.user.email %></td>
  <td><%= gist.created_at.strftime("%d-%m-%Y %H:%M:%S") %></td>
</tr>