 <% if resource.present? && resource.errors.any? %>
    <div>
      <h2><%= pluralize(resourÑe.errors.count, 'error') %> detected:</h2>
      <ul>
        <% resourÑe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  