<footer>
  <hr>
    <h3><%= t('.header') %></h3>
    <%= link_to t('.author'), "https://github.com/Eduard-Gimaev/test-guru"%><br>
    <a href="https://thinknetica.com/"> <%= t('.link')%></a>
  <hr>
     <p><%= current_year %></p>
</footer>