<div class="card text-center">
  <div class="card-footer text-body-secondary">
    <p><%= t('.header') %></p>
    <%= link_to t('.author'), "https://github.com/Eduard-Gimaev/test-guru"%><br>
    <a href="https://thinknetica.com/"> <%= t('.link')%></a>
    <p><%= current_year %></p>
  </div>
</div>