<footer>
  <hr>
    <h3>About Test Guru</h3>
    <%= link_to 'Test-Guru by Eduard Gimaev on the github', "https://github.com/Eduard-Gimaev/test-guru"%><br>
    <a href="https://thinknetica.com/">Educational project in the online school Thinknetica</a>
  <hr>
     <p><%= current_year %></p>
</footer>