
<% if user_signed_in? %>
  <p class="nav signout">
    <%=  t('actions.welcome', name: current_user.email ) %>| 
    <%= link_to t('actions.logout'), destroy_user_session_path, method: :delete %> 
  </p>
<% else %>
  <p>
    | <%= link_to t('actions.login'), new_user_session_path %> |
    <%= link_to t('actions.signup'), new_user_registration_path %> |
  </p>
<% end %>