<div class="progress my-2">
  <%= content_tag :div,'', class: 'progress-bar',
                        data: { current_question: @test_passage.current_question_number, 
                                all_questions: @test_passage.test.questions.count } %>
</div>