<tr>
  <td style="text-align:left"><%= user_badge.user.email %></td>
  <td style="text-align:right"><%= user_badge.badge.title %></td>
  <td style="text-align:right"><%= user_badge.badge.picture %></td>
</tr>

