
  <table>
    <tr>
      <td> <strong>title:</strong> <%= test.title %></td>
      <td> <strong>level:</strong> <%= test.level %> </td>
      <td> <strong>questions:</strong> <%= test.questions.count %> </td>
    </tr>
  </table>
  
  