<table border = "1">
<caption>TESTS:</caption>
  
  <tr>
  <th>Title</th>
  <th>Actions</th>
  </tr>
<%= render @tests%>
</table>
<% unless user_signed_in? %>
  <p>
  | <%= link_to 'Log in', new_user_session_path %> |
  <%= link_to 'Sign up', new_user_registration_path %> |
  </p>
<% end %>
